@font-face {
  font-family: "Nike Futura ND";
  src: url("a8d7b985e4eb8c5d34f2302ffe83e917.eot");
  src: url("a8d7b985e4eb8c5d34f2302ffe83e917.eot?#iefix")
      format("embedded-opentype"),
    url("a8d7b985e4eb8c5d34f2302ffe83e917.woff") format("woff"),
    url("a8d7b985e4eb8c5d34f2302ffe83e917.woff2") format("woff2"),
    url("a8d7b985e4eb8c5d34f2302ffe83e917.ttf") format("truetype"),
    url("a8d7b985e4eb8c5d34f2302ffe83e917.svg#Nike Futura ND") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('fonts/HelveticaNowText-Medium.woff2') format('woff2'),
       url('fonts/HelveticaNowText-Medium.woff') format('woff');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'Helvetica Now Text', Helvetica, Arial, sans-serif;
}
.display1 {
  font: 800 6rem/1 'Nike Futura ND', 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;
}


body {
  overflow-x: hidden;
}

.mini-header {
  height: 36px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 61px;
  gap: 10px;
  font-size: 12px;
}

.mini-header > div {
  width: 1px;
  height: 12px;
  background-color: black;
}

.mini-header > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700; 
  
}

.mini-header > a:hover {
  color: rgba(0, 0, 0, 0.5);
}

header {
  padding: 0 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

header > img {
  width: 72px;
  height: auto;
  position: absolute;
  left: 39px; 
  top: 50%;  
  transform: translateY(-50%);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-nav > a {
  font-size: medium;
  color: black;
  text-decoration: none;
  font-weight: 550;
}

.header-nav > a:hover {
  text-decoration: solid underline;
  text-underline-position: below;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}
